.bg-img {
        /* The image used */
  background-image: url("Untitled346.gif");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(0px);
/* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
#text1{color: red;
    text-align: center;}
#text2{background-color: orange;color: red;
    text-align: center;}
h3{color: red;}
#text3{font-size:475%;border:2px solid red;
     text-algin:center;}
text5{color: gold;}
text6{color: red;}
p{text-align: center;}
your-img-tag {
  pointer-events: none;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: red;
}


